@CHARSET "UTF-8";

header{
    background-color: #555;
    margin-top: 0;
}

.menulist li{
    padding-left:100px;
    margin-top: 5px;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    width: 80px;
    height: 50px;
    color: #222;
}
/*↓リンクの下線はなし、マウスオンで下線あり、リンクの文字、踏んだあとの文字色*/
.menulist a {
    text-decoration: none;
}
.menulist a:hover {
    text-decoration: underline;
}
.menulist a:link{
    color: #222;
}
.menulist a:visited{
    color: #222;
}

h1{
   color: #333;
   font-size: 190%;
   margin-left: 50px;
}

.conA{
  background-color: #444;
  color: #fff;
}

.conA .container{
  display: flex;
}
.conA .image{
  background-color: #fff;
  padding: 50px;
  flex: 2;
}
.conA .text{
  padding: 50px;
  flex: 3;
}
.conA h2{
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
}
.conA p{
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
}

.conB .container{
  display: flex;
}
.conB .table{
  background-color: #fff;
  padding: 50px;
  flex: 2;
}
.conB th{
  width: 160px;
  height: 80px;
}
.conB td{
  text-align: center;
}
.conB .text{
  padding: 50px;
  flex: 3;
}
.conB h3{
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
}
.conB p{
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  font-size: 15px;
}

h3{
    color: #333;
    margin-bottom: 10px;
}
.main3 p{
    font-size: 100%;
    color: #333;
    margin: 3px 10px;
}



.box1{
    font-weight: bold;
    color: #333;
    background: #FFF;
    border: solid 2px #222;
    /*border-radius: 10px; 角の丸み*/
    width: 550px;
    /*height: 690px;*/
    margin: 80px auto 10px;
}
.box1 p{
    text-align: center;
    margin:auto;
    font-size: 20px;
}

#reserveform{
    width: 460px;
    margin: auto
}

.item{
   overflow: hidden;
   margin-bottom: 20px;
   display: flex;
}

.label{
    float: left;
    margin-right: 20px;
	width: 135px;
	border-left: solid 3px #e0505d;
	padding-left: 10px;
}

#name, #tel, #email, #today, #number{
    float: left;
    width: 300px;
    border: solid 1px #aaa;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
}
