@CHARSET "UTF-8";

/*
*個人情報入力ホームのCSS部分
*/


.box1{
    font-weight: bold;
    color: #333;
    background: #FFF;
    border: solid 2px #222;
    /*border-radius: 10px; 角の丸み*/
    width: 550px;
    /*height: 690px;*/
    margin: 80px auto 10px;
}
.box1 p{
    text-align: center;
    margin:auto;
    font-size: 20px;
}

#reserveform{
    width: 460px;
    margin: auto
}

.item{
   overflow: hidden;
   margin-bottom: 20px;
   display: flex;
}

.label{
    float: left;
    margin-right: 20px;
	width: 135px;
	border-left: solid 3px #e0505d;
	padding-left: 10px;
}

#name, #tel, #email, #today, #number{
    float: left;
    width: 300px;
    border: solid 1px #aaa;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
}